app_icon ICON "icon-light-active.ico"
dark_inactive_icon ICON "icon-dark-inactive.ico"
dark_active_icon ICON "icon-dark-active.ico"
light_inactive_icon ICON "icon-light-inactive.ico"
light_active_icon ICON "icon-light-active.ico"

